 <h1>My warehouse</h1>
<table width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% warehouse.each do |item| %>
      <tr>
        <td><%= item[:product].name %></td>
        <td><%= item[:quantity] %></td>
        <td>
          <form action="warehouse/add" method="post"> <input type="hidden" name="product_id" value=<%= item[:product].id %>><input type="hidden" name="quantity" value=1><input type="submit" value="Add"></form>
          <form action="warehouse/remove" method="post"> <input type="hidden" name="product_id" value=<%= item[:product].id %>><input type="hidden" name="quantity" value=1><input type="submit" value="Remove"></form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
