<html>
  <head>
    <title>Awesome Shop (not so awesome though)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
  </head>
  <body>
    <div class="container">
       <h1>Awesome shop</h1>
       <nav>
         <a href="/">Home</a> | <a href="/cart">Cart</a> | <a href="/warehouse">Warehouse</a> | <a href="/products">Products</a>
       </nav>
       <hr>
       <%= yield %>
    </div>
  </body>
</html>