<html>
  <head>
    <title>Awesome Shop (not so awesome though)</title>
  </head>
  <body>
    <h1>Awesome shop</h1>
    <nav>
      <a href="/">Home</a> | <a href="/cart">Cart</a> | <a href="/warehouse">Warehouse</a> | <a href="/products">Products</a>
    </nav>
    <%= yield %>
  </body>
</html>